In [105]:
# Import Libraries needed
import pandas as pd
import numpy as np

In [106]:
# Open csv file and read the first 5 lines

df = pd.read_csv('coffee_survey.csv')

df.head(5)

,Submission ID,Respondent ID,Submitted at,What is your age?,What is your ZIP code?,How many cups of coffee do you typically drink per day?,Where do you typically drink coffee?,Where do you typically drink coffee? (At home),Where do you typically drink coffee? (At the office),Where do you typically drink coffee? (On the go),...,Gender,Gender (please specify),Marital Status,Household Income,Education Level,Ethnicity/Race,Ethnicity/Race (please specify),Employment Status,Number of Children,Political Affiliation
0,gMR29l,vDzkBA,9/11/23 20:50,18-24 years old,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BkPN0e,9Z4VME,9/11/23 20:52,25-34 years old,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,W5G8jj,XoNLQj,9/12/23 1:33,25-34 years old,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4xWgGr,Gp7gde,9/12/23 12:58,35-44 years old,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,QD27Q8,Bp9ogQ,9/12/23 15:24,25-34 years old,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [107]:
# Show the number of rows and columns of the Data.

df.shape

(4042, 118)

In [108]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4042 entries, 0 to 4041
Columns: 118 entries, Submission ID to Political Affiliation
dtypes: float64(21), object(97)
memory usage: 3.6+ MB

In [109]:
df.describe()

,What kind of flavorings do you add?,What kind of flavorings do you add? (Vanilla Syrup),What kind of flavorings do you add? (Caramel Syrup),What kind of flavorings do you add? (Hazelnut Syrup),What kind of flavorings do you add? (Cinnamon (Ground or Stick)),What kind of flavorings do you add? (Peppermint Syrup),What kind of flavorings do you add? (Other),What other flavoring do you use?,"Lastly, how would you rate your own coffee expertise?",Coffee A - Bitterness,...,Coffee A - Personal Preference,Coffee B - Bitterness,Coffee B - Acidity,Coffee B - Personal Preference,Coffee C - Bitterness,Coffee C - Acidity,Coffee C - Personal Preference,Coffee D - Bitterness,Coffee D - Acidity,Coffee D - Personal Preference
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3938.000000,3798.000000,...,3789.000000,3780.000000,3767.000000,3773.000000,3764.000000,3751.000000,3766.000000,3767.000000,3765.000000,3764.000000
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.693499,2.141127,...,3.310900,3.013228,2.223786,3.068646,3.071998,2.366836,3.064790,2.162729,3.858167,3.375930
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.948867,0.947163,...,1.185953,0.992875,0.865389,1.113546,0.999267,0.921048,1.128431,1.081546,1.007973,1.452504
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.000000,1.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,3.000000,2.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.000000,2.000000,...,3.000000,3.000000,2.000000,3.000000,3.000000,2.000000,3.000000,2.000000,4.000000,4.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.000000,3.000000,...,4.000000,4.000000,3.000000,4.000000,4.000000,3.000000,4.000000,3.000000,5.000000,5.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.000000,5.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

In [110]:
# See if there are any duplicates in this data set

df.duplicated(keep='last')

0       False
1       False
2       False
3       False
4       False
        ...
4037    False
4038    False
4039    False
4040    False
4041    False
Length: 4042, dtype: bool

In [111]:
count_nulls = df.isnull().sum().sort_values(ascending=False)

print(count_nulls)

What other flavoring do you use?                          4042
What kind of flavorings do you add? (Vanilla Syrup)       4042
What kind of flavorings do you add?                       4042
What kind of flavorings do you add? (Other)               4042
What kind of flavorings do you add? (Peppermint Syrup)    4042
                                                          ...
What is your favorite coffee drink?                         62
What is your age?                                           31
Respondent ID                                                0
Submitted at                                                 0
Submission ID                                                0
Length: 118, dtype: int64

In [112]:
# Replace nulls will 'No Answer'

df2 = df.fillna('No Answer')

df2.head(5)

,Submission ID,Respondent ID,Submitted at,What is your age?,What is your ZIP code?,How many cups of coffee do you typically drink per day?,Where do you typically drink coffee?,Where do you typically drink coffee? (At home),Where do you typically drink coffee? (At the office),Where do you typically drink coffee? (On the go),...,Gender,Gender (please specify),Marital Status,Household Income,Education Level,Ethnicity/Race,Ethnicity/Race (please specify),Employment Status,Number of Children,Political Affiliation
0,gMR29l,vDzkBA,9/11/23 20:50,18-24 years old,No Answer,No Answer,No Answer,No Answer,No Answer,No Answer,...,No Answer,No Answer,No Answer,No Answer,No Answer,No Answer,No Answer,No Answer,No Answer,No Answer
1,BkPN0e,9Z4VME,9/11/23 20:52,25-34 years old,No Answer,No Answer,No Answer,No Answer,No Answer,No Answer,...,No Answer,No Answer,No Answer,No Answer,No Answer,No Answer,No Answer,No Answer,No Answer,No Answer
2,W5G8jj,XoNLQj,9/12/23 1:33,25-34 years old,No Answer,No Answer,No Answer,No Answer,No Answer,No Answer,...,No Answer,No Answer,No Answer,No Answer,No Answer,No Answer,No Answer,No Answer,No Answer,No Answer
3,4xWgGr,Gp7gde,9/12/23 12:58,35-44 years old,No Answer,No Answer,No Answer,No Answer,No Answer,No Answer,...,No Answer,No Answer,No Answer,No Answer,No Answer,No Answer,No Answer,No Answer,No Answer,No Answer
4,QD27Q8,Bp9ogQ,9/12/23 15:24,25-34 years old,No Answer,No Answer,No Answer,No Answer,No Answer,No Answer,...,No Answer,No Answer,No Answer,No Answer,No Answer,No Answer,No Answer,No Answer,No Answer,No Answer

In [113]:
df2.describe()

,Submission ID,Respondent ID,Submitted at,What is your age?,What is your ZIP code?,How many cups of coffee do you typically drink per day?,Where do you typically drink coffee?,Where do you typically drink coffee? (At home),Where do you typically drink coffee? (At the office),Where do you typically drink coffee? (On the go),...,Gender,Gender (please specify),Marital Status,Household Income,Education Level,Ethnicity/Race,Ethnicity/Race (please specify),Employment Status,Number of Children,Political Affiliation
count,4042,4042,4042,4042,4042,4042,4042,4042,4042,4042,...,4042,4042,4042,4042,4042,4042,4042,4042,4042,4042
unique,4042,3626,1392,8,2180,7,66,3,3,3,...,6,13,6,7,7,7,84,7,6,5
top,gMR29l,7NEEBa,10/21/23 18:10,25-34 years old,No Answer,2,At home,True,False,False,...,Male,No Answer,Married,"$150,000 or more",Bachelor's degree,White/Caucasian,No Answer,Employed full-time,None,Democrat
freq,1,5,82,1986,78,1663,1625,3644,2545,3270,...,2524,4030,1726,1336,1759,2626,3937,2708,2550,1768

In [114]:
count_nulls2 = df2.isnull().sum().sort_values(ascending=False)

print(count_nulls2)

Submission ID                                                    0
Coffee A - Acidity                                               0
Coffee D - Acidity                                               0
Coffee D - Bitterness                                            0
Coffee C - Notes                                                 0
                                                                ..
Do you usually add anything to your coffee? (No - just black)    0
Do you usually add anything to your coffee?                      0
Please specify what your favorite coffee drink is                0
What is your favorite coffee drink?                              0
Political Affiliation                                            0
Length: 118, dtype: int64

In [117]:
df2 = df2.apply(lambda x: x.str.lower())
df2.head(5)

,Submission ID,Respondent ID,Submitted at,What is your age?,What is your ZIP code?,How many cups of coffee do you typically drink per day?,Where do you typically drink coffee?,Where do you typically drink coffee? (At home),Where do you typically drink coffee? (At the office),Where do you typically drink coffee? (On the go),...,Gender,Gender (please specify),Marital Status,Household Income,Education Level,Ethnicity/Race,Ethnicity/Race (please specify),Employment Status,Number of Children,Political Affiliation
0,gmr29l,vdzkba,9/11/23 20:50,18-24 years old,no answer,no answer,no answer,no answer,no answer,no answer,...,no answer,no answer,no answer,no answer,no answer,no answer,no answer,no answer,no answer,no answer
1,bkpn0e,9z4vme,9/11/23 20:52,25-34 years old,no answer,no answer,no answer,no answer,no answer,no answer,...,no answer,no answer,no answer,no answer,no answer,no answer,no answer,no answer,no answer,no answer
2,w5g8jj,xonlqj,9/12/23 1:33,25-34 years old,no answer,no answer,no answer,no answer,no answer,no answer,...,no answer,no answer,no answer,no answer,no answer,no answer,no answer,no answer,no answer,no answer
3,4xwggr,gp7gde,9/12/23 12:58,35-44 years old,no answer,no answer,no answer,no answer,no answer,no answer,...,no answer,no answer,no answer,no answer,no answer,no answer,no answer,no answer,no answer,no answer
4,qd27q8,bp9ogq,9/12/23 15:24,25-34 years old,no answer,no answer,no answer,no answer,no answer,no answer,...,no answer,no answer,no answer,no answer,no answer,no answer,no answer,no answer,no answer,no answer

In [118]:
# Export clean data to new csv for analysis

df2.to_csv('coffee_data_clean.csv', sep=',', )